<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To-Do Page</title>
</head>
<body>
  <h1>Add a To-Do Item</h1>
  <form action="/submittodoitem" method="POST">
    <label for="itemName">Item Name:</label><br>
    <input type="text" name="itemName" id="itemName" required><br><br>
    
    <label>Item ID:</label>
    <input type="text" name="itemID" required><br>

    <label for="itemDescription">Item Description:</label><br>
    <textarea name="itemDescription" id="itemDescription" required></textarea><br><br>
    
    <button type="submit">Submit</button>
  </form>
</body>
</html>
